#content {
	float: left;
	padding: 10px 2% 10px 2%;
	margin: 0px;
	border: 0px;
	width: 50%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 46%;
	}

#content2 {
	float: left;
	padding: 10px 2% 10px 2%;
	margin: 0px;
	border: 0px;
	width: 50%; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 46%;
	}
